.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
}