<spinner-component [loading]="isLoading | async"></spinner-component>

<modal-component *ngIf="categoryData">
    <h4>Are you sure you want to remove category: {{categoryData.name}}?</h4>
    <div class="modal-button-container">
        <button class="edit-button" (click)="closeModal()">Close</button>
        <button class="delete-button" (click)="deleteCategory(categoryData.categoryId)">Delete</button>
    </div>
</modal-component>

<div *ngIf="!(isLoading | async)" class="employees-container">
    <h3>Categories</h3>
    <div *ngIf="(categories.length > 0)" class="table-container">
        <table class="employees-table">
            <thead class="table-head">
                <tr>
                    <th>
                        NAME
                    </th>
                    <th>
                        SUBCATEGORIES
                    </th>
                    <th>
                        EDIT
                    </th>
                    <th>
                        DELETE
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let category of categories" class="table-body">
                <tr>
                    <td>
                        {{category.name}}
                    </td>
                    <td>
                        {{category.subcategories ? category.subcategories.length : "0"}}
                    </td>
                    <td class="button-box">
                        <button class="edit-button" (click)="goToEdit(category.categoryId)">Edit</button>
                    </td>
                    <td class="button-box">
                        <button class="delete-button" type="text" (click)="openModal(category)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!(categories.length > 0 && !(isLoading | async))">
        <h4 class="default-text">No categories currently listed</h4>
    </div>
</div>