<div *ngIf="!(isLoading | async)" class="employees-container">
    <h3>Employees</h3>
    <div *ngIf="(employees.length > 0)" class="table-container">
        <user-table-component 
            [users]="employees"
            (newRouteEvent)="goToEdit($event)"
            (newDeleteEvent)="deleteEmployee($event)"
        >
        </user-table-component>
    </div>

    <div *ngIf="!(employees.length > 0 && !(isLoading | async))">
        <h4 class="default-text">No employees currently registered</h4>
    </div>
</div>