@import '../../../vars.scss';

td, th {
    text-align: left;
    padding-left: 8px;
    border-left: 1px $royal solid;
}

td {
    padding: 12px 0px 12px 8px;
}

.table-head, .table-body {
    border: 1px $royal solid;
}

.table-body {
    &:nth-child(even) {
        background-color: snow;
    }
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.edit-button {
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    background-color: lightgreen;
    border: 2px $blue solid;
    border-radius: 4px;
    width: 72px;
    height: 24px;
    cursor: pointer;

    &:hover {
        background-color: $yellow-shade;
        color: white;
    }

    &:active {
        background-color: navy;
    }
}

.delete-button {
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    background-color: crimson;
    border: 2px $blue solid;
    border-radius: 4px;
    width: 72px;
    height: 24px;
    cursor: pointer;

    &:hover {
        background-color: $yellow-shade;
        color: white;
    }

    &:active {
        background-color: navy;
    }
}

.modal-button-container {
    margin: 0 auto;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.button-box {
    text-align: center;
    padding-left: 0px;
}