<div *ngIf="(loading$ | async)" class="loading-container">
    <spinner-component></spinner-component>
</div>
<div *ngIf="!cartItems.length && !(loading$ | async)" class="loading-container">
    <div class="empty-cart-image__container">
        <img class="empty-cart-image" src="../../../assets/images/empty_cart.png" alt="empty-cart">
    </div>
</div>
<div *ngIf="!(loading$ | async) && cartItems.length" class="cart-items__container">
    <cart-item-table 
        [cartItems]="cartItems"
        (cartItemDeleteEvent)="refreshPage()"
        [totalPrice]="totalPrice"
    >
    </cart-item-table>
    <div class="order-button__container">
        <button *ngIf="(userLoggedIn$ | async)" class="order-button" type="button" (click)="placeOrder()">
            <h2>Order</h2>
            <div class="order-button__image-container">
                <img class="order-button-image" src="../../../assets/icons/shopping-cart.png" alt="cart">
            </div>
        </button>
        <button *ngIf="!(userLoggedIn$ | async)" class="order-button" type="button" (click)="goToLogin()">
            <h2>Login</h2>
        </button>
    </div>
</div>