<div class="about-container">
    <div class="about-container__text">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto minima qui itaque suscipit tempora dolorem provident, totam unde assumenda nulla distinctio eveniet ea accusamus, necessitatibus veniam quae amet possimus quo.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem pariatur perferendis debitis, dicta placeat illum voluptatibus sunt, saepe quam porro doloremque corrupti, voluptas sint dolorum blanditiis quo explicabo quos deleniti!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi unde in voluptatibus autem aperiam neque ipsa eaque, ducimus dicta eius perspiciatis inventore recusandae exercitationem voluptatum temporibus adipisci deserunt possimus doloribus!</p>
    </div>
    <div class="about-container__image">
        <div class="about-image__container">
            <img src="../../../assets/images/about-stock.webp" alt="employyee-with-computer" class="about-image">
        </div>
    </div>
</div>
