<footer>
    <div class="b-footer-info">
        <div class="b-footer-info__container">
            <div class="info-text-container">
                <div>
                    <h3>Contact</h3>
                    <p>SkyNet d.o.o</p>
                    <p>Street 4b</p>
                    <p>Towny 1025 Country</p>
                </div>
            </div>
        </div>
        <div class="b-footer-info__container">
            <div class="info-text-container">
                <div>
                    <h3>Departments</h3>
                    <p>Sales</p>
                    <p>Administration</p>
                    <p>Tax-evasion</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer">
        <div class="b-footer__container">
            Ivan Pavić@2023, Croatia
        </div>
    </div>
    <div class="b-footer__decorator">
    </div>
</footer>