<div *ngIf="!(isLoading | async)" class="customers-container">
    <h3>Customers</h3>
    <div *ngIf="(customers.length > 0)" class="table-container">
        <user-table-component 
            [users]="customers"
            (newRouteEvent)="goToEdit($event)"
            (newDeleteEvent)="deleteCustomer($event)"
        >
        </user-table-component>
    </div>

    <div *ngIf="!(customers.length > 0 && !(isLoading | async))">
        <h4 class="default-text">No customers currently registered</h4>
    </div>
</div>