<header class="b-header">
    <main-navbar-component></main-navbar-component>
    <div class="b-header__container">
        <div class="b-header__top-decorator"> 
            <a routerLink="/">
                <div class="b-header__logo-container">
                    <img class="header-logo" src="../../../assets/images/favicon.png" alt="main-logo">
                </div>
                <h3>Skynet Supplies</h3>
            </a>
        </div>
        <div class="b-header__bottom-decorator"> 
            <div class="b-header__circle-decorator">

            </div>
        </div>
    </div>
</header>