@import "../../vars.scss";

.b-header {
    width: 100%;
    position: relative;
}

.b-header__container {
    height: 176px;
}

.b-header__top-decorator {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(180deg, $blue 0%, $blue 40%, $dark-blue 60%, $dark-blue 100%);
    border-bottom: 1px snow solid;
    position: relative;
    display: flex;
    align-items: center;

    & a {
        text-decoration: none;
    }

    & h3 {
        margin: 0px;
        margin-left: 76px;
        font-size: 20px;
        color: snow;
    }
}

.b-header__title-container {
    width: 100%;
}

.center-div {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.b-header__bottom-decorator {
    width: 100%;
    height: 24px;
    background-color: $dark-blue;
    position: relative;
}

.b-header__logo-container {
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 12%;
    overflow: hidden;
    object-fit: cover;
    z-index: 20;
}

.header-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.b-header__circle-decorator {
    position: absolute;
    bottom: -30px;
    left: 5%;
    background-color: $dark-blue;
    height: 120px;
    width: 300px;
    border-radius: 50%;
    z-index: -1;
}

.search-bar-container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15%;
}

@media only screen and (max-width: 920px) {
    .search-bar-container {
        padding-right: 7.5%;
    }
}

@media only screen and (max-width: 640px) {
    .b-header__circle-decorator {
        bottom: -20px;
        height: 60px;
        width: 150px;
    }
}

@media only screen and (max-width: 440px) {
    .b-header__circle-decorator {
        bottom: -15px;
        height: 45px;
        width: 125px;
    }
}