.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 95%;
}

.default-text {
    text-align: center;
}

.pagination-container {
    margin-bottom: 24px;
}