<div class="b-about-bar">
    <nav class="b-about-bar__content">
        <div class="b-about-bar__navtext">
            About us
        </div>
        <div class="b-about-bar__navtext">
            News
        </div>
        <div class="b-about-bar__navtext">
            Contact
        </div>
        <div *ngIf="!userLoggedIn" class="b-about-bar__navtext b-about-bar__navtext--right">
            <a routerLink="auth/login">Login</a>
        </div>
        <div *ngIf="userLoggedIn" class="b-about-bar__navtext b-about-bar__navtext--right" (click)="logOut()">
            <a routerlink="">Logout</a>
        </div>
    </nav>
</div>