<div class="b-category-bar">
    <div class="b-category-bar__content">
        <div class="b-category-bar__navtext">
            Computers
        </div>
        <div class="b-category-bar__navtext">
            IT equipment
        </div>
        <div class="b-category-bar__navtext">
            Cellphones
        </div>
        <div class="b-category-bar__navtext">
            Multimedia
        </div>
        <div class="b-category-bar__navtext">
            Gaming
        </div>
        <div class="b-category-bar__navtext">
            Other
        </div>
    </div>
</div>
<div class="category-bar__decorator">
    
</div>