@import '../../../vars.scss';

table {
    border: 1px rgba($royal, 0.3) solid;
}

td {
    padding: 16px 0px;
}

.table-head {
    background-color: $yellow-shade;
    text-align: left;

    tr {
        th {
            padding: 16px 0px;
        }
    }
}

.center-align {
    text-align: center;
}

th, table {
    border-collapse: collapse;
}

.cart-items-table {
    width: 100%;
}

.cart-item-image__container {
    width: 120px;
    height: 60px;
}

.cart-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-image-cell {
    display: flex;
    justify-content: center;
}

.table-body {
    tr {
        &:nth-child(even) {
            background-color: rgba($royal, 0.2);
        }
    }
}

@media only screen and (max-width: 640px) {
    .table-head {
        font-size: 12px;
    
        tr {
            th {
                padding: 8px 0px;
            }
        }
    }

    .table-body {
        font-size: 12px;
        text-align: center;
    }

    .cart-item-image__container {
        width: 80px;
        height: 45px;
    }
}

@media only screen and (max-width: 440px) {
    .table-head {
        font-size: 10px;
    }

    .table-body {
        font-size: 10px;
        text-align: center;
    }

    .cart-item-image__container {
        width: 40px;
        height: 45px;
    }
}