@import '../../../vars.scss';

.product-details {
    margin: 0 auto;;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.spacing {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 32px;
}

.product-details__image-container {
    box-sizing: border-box;
    padding: 8px;
    width: fit-content;
    height: 450px;
    border: 2px rgba($royal, 0.6) solid;
    border-radius: 16px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.red {
    color: crimson;
}

.green {
    color: rgb(93, 208, 64);
}

.price-text {
    color: $blue;
}

.icon-text {
    color: rgba($royal, 0.5);
}

p {
    max-width: 500px;
}

@media only screen and (max-width: 920px) {
    .product-details__image-container {
        height: 350px;
    }
}

@media only screen and (max-width: 640px) {
    .product-details {
        flex-direction: column;
    }

    .spacing {
        width: 100%;
        margin-right: 0px;
    }

    .product-details__image-container {
        width: 100%;
    }
}

