<div *ngIf="product" class="product-details">
    <div class="spacing">
        <div class="product-details__image-container">
            <img class="product-image" src="{{ product.imageUrl }}" alt="product">
        </div>
    </div>
    <div class="product-details__info-container">
        <div>
            <h2>{{ product.name }}</h2>
            <h1><span class="price-text">{{ product.price}}</span><span class="icon-text"> $</span></h1>
            <h3 [ngClass]="product.available ? 'green' : 'red'">{{ product.available ? "Available" : "Unavailable" }}</h3>
            <p>{{product.description}}</p>
        </div>
        <div class="button-container">
            <button class="product-order-button" type="text" (click)="onClick()">
                <img class="order-cart-image" src="../../../../assets/icons/add-to-cart.png" alt="add-to-cart">
            </button>
        </div>
    </div>
</div>

<order-modal-component 
    *ngIf="product"
    [product]="product"
>
</order-modal-component>

