@import '../../vars.scss';

.cart-items__container {
    display: flex;
    flex-direction: column;
}

.loading-container {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order-button__container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.order-button {
    box-sizing: border-box;
    width: 144px;
    height: 64px;
    border: none;
    background-color: rgba($blue, 0.7);
    border-radius: 4px;
    cursor: pointer;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        box-shadow: 0 4px 14px 0 rgba($royal, 0.18), 0 4px 14px 0 rgba($royal, 0.15);
    }

    &:active {
        background-color: rgba(lightgreen,0.6);
    }
}

.order-button__image-container{
    height: 50%;
    width: 33%;
}

.order-button-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 640px) {
    .order-button {
        width: 108px;
        height: 48px;  
    }
}

@media only screen and (max-width: 440px) {
    .order-button {
        width: 92px;
        height: 40px;  
    }
}