<div class="body">
    <div class="main-container">
        <div class="side-panel">
            <div class="logo-container">
                <img src="../../../../assets/images/favicon.png" alt="logo" class="dashboard-logo">
                <h3>Skynet Supplies</h3>
            </div>
            <div class="taskgroup-container">
                <h4>Auth</h4>
                <a routerLink="employee" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">
                    Employees
                </a>
                <a routerLink="employee/add" routerLinkActive="nav-active">
                    Add employee
                </a>
            </div>
            <div class="taskgroup-container">
                <h4>Products</h4>
                <a routerLink="categories" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">
                    Categories
                </a>
                <a routerLink="categories/add" routerLinkActive="nav-active">
                    Add category
                </a>
            </div>
        </div>
        <div class="main-panel">
            <div class="profile-panel">

            </div>
            <div class="workspace">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
