@import "../../../../../vars.scss";

h3 {
    text-align: left;
    padding-left: 50px;
}

.form-container {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
    padding-left: 25px;

    & h4 {
        margin: 16px 0px 8px 0px;
    }
}