<div class="product-container">
    <div class="product-image-container">
        <img class="product-image" src="{{ product.imageUrl }}" alt="product" (click)="goToProduct(product.productId)">
    </div>
    <div class="product-organiser">
        <div class="product-info-container">
            <div class="text-box product-name" (click)="goToProduct(product.productId)">
                <h4>{{ product.name }}</h4>
            </div>
            <div class="text-box">
                <p>{{ product.price }} $</p>
            </div>
            <div class="text-box">
                <h5>Stock:</h5>
                <p [ngClass]="product.available ? 'green' : 'red'">{{ product.available ? "Available" : "Unavailable" }}</p>
            </div>
        </div>
        <div *ngIf="product.available" class="product-order-container">
            <button class="product-order-button" type="text" (click)="onClick(product)">
                <img src="../../../../assets/icons/add-to-cart.png" alt="add-to-cart">
            </button>
        </div>
    </div>
</div>