<h3>Edit category</h3>

<div class="edit-container">
    <h4>Category</h4>
    <hr class="group-border">

    <div *ngIf="categoryData">

        <single-field-form
            [originalData]="categoryData.name"
            (newSubmitEvent)="updateCategory($event)"
        >
        </single-field-form>
    </div>

    <h4>Subcategories</h4>
    <hr class="group-border">

    <modal-component *ngIf="subcategoryData">
        <h4>Are you sure you want to remove subcategory: {{subcategoryData.name}}?</h4>
        <div class="modal-button-container">
            <button class="edit-button" (click)="closeModal()">Close</button>
            <button class="delete-button" (click)="deleteSubcategory(subcategoryData.subcategoryId)">Delete</button>
        </div>
    </modal-component>

    <div *ngIf="!(isLoading | async)" class="employees-container">
        <div *ngIf="(subcategories && subcategories.length > 0)" class="table-container">
            <table class="employees-table">
                <thead class="table-head">
                    <tr>
                        <th>
                            SUBCATEGORY
                        </th>
                        <th>
                            PRODUCTS
                        </th>
                        <th>
                            EDIT
                        </th>
                        <th>
                            DELETE
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let subcategory of subcategories" class="table-body">
                    <tr>
                        <td>
                            {{subcategory.name}}
                        </td>
                        <td>
                            0
                        </td>
                        <td class="button-box">
                            <button class="edit-button" (click)="goToEdit(subcategory.subcategoryId)">Edit</button>
                        </td>
                        <td class="button-box">
                            <button class="delete-button" type="text" (click)="openModal(subcategory)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="subcategories && !(subcategories.length > 0 && !(isLoading | async))">
            <h4 class="default-text">No subcategories currently listed</h4>
        </div>
    </div>
</div>
