$yellow-shade: #f9d102;
$royal: #141e30;
$blue: #004e92;
$dark-blue: #000428;
$main-gradient: linear-gradient(180deg, $blue 0%, $dark-blue 50%,#040934 51%, $blue 100%);
$yellow-gradient: linear-gradient(180deg, $yellow-shade 0%, $dark-blue 50%,#040934 51%, $yellow-shade 100%);