<spinner-component [loading]="isLoading | async"></spinner-component>
<div *ngIf="!(isLoading | async)" class="employees-container">
    <h3>Employees</h3>
    <div class="table-container">
        <table class="employees-table">
            <thead class="table-head">
                <tr>
                    <th>
                        NAME
                    </th>
                    <th>
                        SURNAME
                    </th>
                    <th>
                        EMAIL
                    </th>
                    <th>
                        EDIT
                    </th>
                    <th>
                        DELETE
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let employee of employees" class="table-body">
                <tr>
                    <td>
                        {{employee.name}}
                    </td>
                    <td>
                        {{employee.surname}}
                    </td>
                    <td>
                        {{employee.email}}
                    </td>
                    <td>
                        <button class="edit-button">Edit</button>
                    </td>
                    <td>
                        <button class="delete-button">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>