@import "../../../../vars.scss";

.employees-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 80%;
}

td, th {
    text-align: left;
    padding-left: 8px;
    border-left: 1px $royal solid;
}

td {
    padding: 8px 0px 8px 8px;
}

.table-head, .table-body {
    border: 1px $royal solid;
}

.employees-table {
    width: 100%;
    border-collapse: collapse;
}

.edit-button {
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    background-color: lightgreen;
    border: 2px $blue solid;
    border-radius: 4px;
    width: 72px;
    height: 24px;
    cursor: pointer;

    &:hover {
        background-color: $yellow-shade;
        color: white;
    }

    &:active {
        background-color: navy;
    }
}

.delete-button {
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    background-color: crimson;
    border: 2px $blue solid;
    border-radius: 4px;
    width: 72px;
    height: 24px;
    cursor: pointer;

    &:hover {
        background-color: $yellow-shade;
        color: white;
    }

    &:active {
        background-color: navy;
    }
}

.table-body {
    &:nth-child(odd) {
        background-color: snow;
    }
}