<spinner-component [loading]="isLoading | async"></spinner-component>

<div *ngIf="(isOpen && employeeData)" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to remove employee: {{employeeData.name}} {{employeeData.surname}}?</h4>
        <div class="modal-button-container">
            <button class="edit-button" (click)="closeModal()">Close</button>
            <button class="delete-button" (click)="deleteUser(employeeData.id)">Delete</button>
        </div>
    </div>
</div>

<div *ngIf="!(isLoading | async)" class="employees-container">
    <h3>Employees</h3>
    <div *ngIf="(employees.length > 0)" class="table-container">
        <table class="employees-table">
            <thead class="table-head">
                <tr>
                    <th>
                        NAME
                    </th>
                    <th>
                        SURNAME
                    </th>
                    <th>
                        EMAIL
                    </th>
                    <th>
                        EDIT
                    </th>
                    <th>
                        DELETE
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let employee of employees" class="table-body">
                <tr>
                    <td>
                        {{employee.name}}
                    </td>
                    <td>
                        {{employee.surname}}
                    </td>
                    <td>
                        {{employee.email}}
                    </td>
                    <td>
                        <button class="edit-button">Edit</button>
                    </td>
                    <td>
                        <button class="delete-button" (click)="openModal(employee)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!(employees.length > 0 && !(isLoading | async))">
        <h4 class="default-text">No employees currently registered</h4>
    </div>
</div>